body{
    font-family: 'Roboto', sans-serif;
    
    background-image: url("../imagenes/backlunareschicos.jpeg");
}

/*navbar*/
#navigator{
    background-image: url("../imagenes/backlunareschicos.jpeg");
    font-size: x-large;
    font-family:  'Dancing Script', cursive;
}

/*slider*/

.w-100 {
    width: 90% !important;
    height: 90vh;
  }

  /*titulo*/
  #titulo{
    font-size: 40px;  
  }
  #cuatrocielos{
    font-family:  'Dancing Script', cursive;
  }